* text=auto eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.pcap binary
*.pcapng binary
*.zip binary
*.gz binary

*.go text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
